@media screen and (max-width: 500px) {
    .showcase-container {
        grid-template-columns: repeat(2, 77px);
        max-width: 300px;
        grid-gap: 64px 32px;
        justify-content: space-evenly;

    }
}

@media screen and (min-width: 501px) {
    .showcase-container {
        grid-template-columns: repeat(3, 77px);
        grid-gap: 64px 32px;
        justify-content: space-evenly;
    }
}

@media screen and (min-width: 800px) {
    .showcase-container {
        grid-template-columns: repeat(6, 77px);
        grid-gap: 40px;
        justify-content: space-between;
    }
}
body {
    background-color: aquamarine;
}